

<table class="w3-table w3-bordered w3-round">
  <tr>
    <th colspan="2"><h1><%= "#{@owner.first_name} #{@owner.last_name}" %></h1></th>
  </tr>


  <tr>
    <td><label for="owner[phone]">Phone #:</label></td>
    <td id="owner[phone]"><%= @owner.phone %></td>
  </tr>

  <tr>
    <td><label for="owner[phone2]">Phone 2 #:</label></td>
    <td id="owner[phone2]"><%= @owner.phone2 %></td>
  </tr>

  <tr>
    <td><label for="owner[address]">Address:</label></td>
    <td id="owner[address]"><%= @owner.address %></td>
  </tr>

  <tr>
    <td><label for="owner[zip_code]">Zip Code:</label></td>
    <td id="owner[zip_code]"><%= @owner.zip_code %></td>
  </tr>

  <tr>
    <td><label for="owner[apartment_number]">Apartment #:</td>
      <td id="owner[apartment_number]"><%= @owner.apartment_number %></td>
  </tr>

  <tr>
    <td><label for="owner[instructions]">Entry Instructions:</label> </td>
      <td id="owner[instructions]"><%= @owner.instructions %></td>
  </tr>

  <tr>
    <td><label for="owner[door_code]">Door Code:</label></td>
      <td id="owner[door_code]"><%= @owner.door_code %></td>
  </tr>

  <tr>
    <td><label for="owner[lockbox_code]">Lockbox Code:</label></td>
      <td id="owner[lockbox_code]"><%= @owner.lockbox_code %></td>
  </tr>

  <% if !@owner.dogs.empty? %>
  <tr>
    <td>Pets:</td>
    <td>
  <% @owner.dogs.each do |dog| %>
      <a href="/dogs/<%= dog.id %>"><%= dog.name %></a>
  <% end %>
  </td>
  </tr>
  <% end %>

  <tr>
    <th colspan="2"><a class="w3-btn w3-yellow w3-bar" href="/owners/<%= @owner.id %>/edit">Edit Owner</a></th>
  </tr>
</table>
<form action="/dogs" method="post">
  <input class="w3-select" type="hidden" name="dog[owner_id]"value="<%= @owner.id %>">
<table class="w3-table">

  <tr>
    <th><h1>New Dog</h1></th>
  </tr>

  <tr>
    <td><label for="dog[name]">Name:</label></td>
    <td><input class="w3-input" type="text" name="dog[name]" id="dog[name]"></td>
  </tr>

  <tr>
    <td><label for="dog[breed]">Breed:</label></td>
    <td><input class="w3-input" type="text" name="dog[breed]" id="dog[breed]"></td>
  </tr>

  <tr>
    <td><label for="dog[birthday]">Birthday:</label></td>
    <td><input class="w3-input" type="date" name="dog[birthday]" id="dog[birthday]"></td>
  </tr>

  <tr>
    <td><label for="dog[appearance]">Appearance:</label></td>
    <td><input class="w3-input" type="text" id="dog[appearance]" name="dog[appearance]"></td>
  </tr>

  <tr>
    <td><label for="dog[temperament]">Temperament:</label></td>
    <td><input class="w3-input" type="text" name="dog[temperament]" id="dog[temperament]"></td>
  </tr>

  <tr>
    <td><label for="dog[notes]">Notes:</label></td>
    <td><input class="w3-input" type="text" name="dog[notes]" id="dog[notes]"></td>
  </tr>

  <tr>
    <td></td>
    <td><input class="w3-btn w3-bar w3-green" type="submit"></td>
  </tr>
</table>
</form>
