<table class="w3-table w3-bordered">
  <form action="/dogs/<%= @dog.id %>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="patch">
  <tr>
    <th colspan="2">
      <h1><%= "#{@dog.name}" %></h1>
    </th>
  </tr>

  <tr>
    <td><label for="dog[name]">Name:</label></td>
    <td><input class="w3-input" type="text" id="dog[name]" name="dog[name]" value="<%= @dog.name %>"></td>
  </tr>

  <tr>
    <td><label for="dog[breed]">Breed:</label></td>
    <td><input class="w3-input" type="text" id="dog[breed]" name="dog[breed]" value="<%= @dog.breed %>"></td>
  </tr>

  <tr>
    <td><label for="dog[birthday]">Birthday:</label></td>
    <td><input class="w3-input" type="date" id="dog[birthday]" name="dog[birthday]" value="<%= @dog.birthday %>"></td>
  </tr>

  <tr>
    <td><label for="dog[appearance]">Appearance:</label></td>
    <td><input class="w3-input" type="text" id="dog[appearance]" name="dog[appearance]" value="<%= @dog.appearance %>"></td>
  </tr>

  <tr>
    <td><label for="dog[temperament]">Temperament:</label></td>
    <td><input class="w3-input" type="text" id="dog[temperament]" name="dog[temperament]" value="<%= @dog.temperament %>"></td>
  </tr>

  <tr>
    <td><label for="dog[notes]">Notes:</label></td>
    <td><input class="w3-input" type="text" id="dog[notes]" name="dog[notes]" value="<%= @dog.notes %>"></td>
  </tr>

  <tr>
    <td colspan="2"><label for="photo">Add Photo: </label><input type="file" name="photo"></td>
  </tr>

  <tr>
    <td></td>
    <td><input type="submit" class="w3-btn w3-bar w3-green"></td>
  </tr>
</form>

<tr>
  <td>
    <form action="/dogs/<%= @dog.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input class="w3-btn w3-bar w3-red" type="submit" name="delete" value="Delete Dog">
    </form>
  </td>
</tr>
</table>
