<h1><%= "#{@dog.name}" %></h1>

<form action="/dogs/<%= @dog.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
<table>

  <tr>
    <td><label for="dog[name]">Name:</label></td>
    <td><input type="text" name="dog[name]" value="<%= @dog.name %>"></td>
  </tr>

  <tr>
    <td><label for="dog[breed]">Breed:</label></td>
    <td><input type="text" name="dog[breed]" value="<%= @dog.breed %>"></td>
  </tr>

  <tr>
    <td><label for="dog[birthday]">Birthday:</label></td>
    <td><input type="date" name="dog[birthday]" value="<%= @dog.birthday %>"></td>
  </tr>

  <tr>
    <td><label for="dog[temperament]">Temperament:</label></td>
    <td><input type="text" name="dog[temperament]" value="<%= @dog.temperament %>"></td>
  </tr>

  <tr>
    <td><label for="dog[notes]">Notes:</label></td>
    <td><input type="text" name="dog[notes]" value="<%= @dog.notes %>"></td>
  </tr>

  <tr>
    <td></td>
    <td><input type="submit"></td>
  </tr>
</table>
</form>

<form action="/dogs/<%= @dog.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="Delete Dog">
</form>


<ul>
  <li><a href="/dogs/<%= @dog.id %>/edit">Edit Dog</a></li>
  <li><a href="/dogs">All Dogs</a></li>
</ul>
