<h1><%= "#{@dog.name}" %></h1>

<table>
  <tr>
    <td><label for="name">Name:</label></td>
    <td id="name"><%= @dog.name %></td>
  </tr>

  <tr>
    <td><label for="breed">Breed:</label></td>
    <td id="breed"><%= @dog.breed %></td>
  </tr>

  <tr>
    <td><label for="birthdate">Birthday:</label></td>
    <td id="birthdate"><%= @dog.birthdate %></td>
  </tr>

  <tr>
    <td><label for="temperament">Temperament:</label></td>
    <td id="temperament"><%= @dog.temperament %></td>
  </tr>

  <tr>
    <td><label for="notes">Notes:</label></td>
    <td id="notes"><%= @dog.notes %></td>
  </tr>

</table>
<br>
<nav>
  <a href="/dogs/<%= @dog.id %>/edit">Edit Dog</a> |
  <a href="/dogs">All Dogs</a>
</nav>
