<% if @user.errors.any? %>
  <div class="w3-panel w3-red">
    <%= @user.errors.full_messages %>
  </div>
<% end %>


<table class="w3-table">
  <form action="/users/<%= @user.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
  <tr>
    <th colspan="2"><h1>Edit User</h1></th>
  </tr>

  <% if flash.has?(:message) %>
  <tr>
    <td colspan="2" class="w3-panel w3-red">
      <%= flash[:message] %>
    </td>
  </tr>
  <% end %>

  <tr>
    <td><label for="user[first_name]">First Name:</label></td>
    <td><input class="w3-input" id="user[first_name]" type="text" name="user[first_name]" value="<%= @user.first_name %>"></td>
  </tr>

  <tr>
    <td><label for="user[last_name]">Last Name:</label></td>
    <td><input class="w3-input" id="user[last_name]" type="text" name="user[last_name]" value="<%= @user.last_name %>"></td>
  </tr>

  <tr>
    <td><label for="user[email]">Email:</label></td>
    <td><input class="w3-input" id="user[email]" type="text" name="user[email]" value="<%= @user.email %>"></td>
  </tr>

  <tr>
    <td><label for="user[password]">Password:</label></td>
    <td><input class="w3-input" type="password" name="user[password]" required></td>
  </tr>

  <tr>
    <td colspan="2"><input class="w3-btn w3-green w3-bar" type="submit" value="Update"></td>
  </tr>
</form>

  <% if logged_in? and @user.id == current_user.id %>
  <tr>
    <td><label for="delete">Delete My Account: </label></td>
    <td>
      <form action="/users/<%= @user.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input class="w3-red w3-btn" type="submit" name="delete" value="Delete Account">
      </form>
    </td>
  </tr>
  <% end %>
</table>
