<table class="w3-table w3-bordered">
  <tr>
    <th colspan="2">
    <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1></th>
  </tr>

  <tr>
    <td><label for="first_name">First Name:</label></td>
    <td id="first_name"><%= @user.first_name %></td>
  </tr>

  <tr>
    <td>
      <label for="user_email">Email: </label>
    </td>
    <td id="user_email">
      <%= @user.email %>
    </td>
  </tr>

  <tr>
    <td>Admin?</td>
    <td>
      <%= @user.role == 'admin' ? 'Yes' : 'No' %>
    </td>
  </tr>

  <% if @user == current_user %>
  <tr>
    <th colspan="2">
      <a class="w3-btn w3-yellow w3-bar" href="/users/<%= @user.id %>/edit">Edit User Info</a>
    </th>
  </tr>
  <% end %>

</table>
